modules = ["c-clang14", "cpp-clang14", "python-3.10", "python-3.12", "web"]
run = "python3 app.py"

[nix]
channel = "stable-24_05"

[unitTest]
language = "python"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3 app.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5050
externalPort = 80

[[ports]]
localPort = 39737
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 45137
externalPort = 3003
exposeLocalhost = true

[[ports]]
localPort = 46837
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 53875
externalPort = 3002
exposeLocalhost = true
